@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>



@if(@ViewBag.name=="Administrador")
{
<h1> Si se pudo :V   con ViewBag :VVVV</h1>
<h2> @UserDataAccessLayer.RoleUsers("fer@gmail.com", UserDataAccessLayer.GetConnectionString())</h2>
}





<p>Use this area to provide additional information.</p>
