@model IEnumerable<ExpedienteClinicoMSF.Models.Expedientes>
   
            @{
    ViewData["Title"] = "Listar";
            }

            <h2>Gestion de Historial Clinico</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.NumExpediente)
                        </th>
                        <th>
                            Nombres
                        </th>
                        <th>
                            Apellidos
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ExpEstado)
                        </th>
                        <th>
                            Acciones
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model) {
                    <tr>
                        <td> @Html.DisplayFor(modelItem => item.NumExpediente)</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <button asp-action="Details" asp-route-id="#">Consultar Expediente</button>

                        </td>
                    </tr>
                    }
                </tbody>
                </table>
