@model ExpedienteClinicoMSF.Models.Examenes

@{
    ViewData["Title"] = "Exámenes";
}

<h2>Agregar</h2>

<h4>Exámenes</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CategoriaId" class="control-label"></label>
                <select asp-for="CategoriaId" class ="form-control" asp-items="ViewBag.CategoriaId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Examen" class="control-label"></label>
                <input asp-for="Examen" class="form-control" />
                <span asp-validation-for="Examen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DescripcionExamen" class="control-label"></label>
                <input asp-for="DescripcionExamen" class="form-control" />
                <span asp-validation-for="DescripcionExamen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Regresar a la lista</a>
</div>

