@model ExpedienteClinicoMSF.Models.Roles

@{
    ViewData["Title"] = "Eliminar";
}

<h2>Eliminar</h2>

<h3>Esta a punto de eliminar el siguiente registro</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Rol)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Rol)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DescripcionRol)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DescripcionRol)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="RolId" />
        <input type="submit" value="Eliminar" class="btn btn-default" /> |
        <a asp-action="Index">Regresar</a>
    </form>
</div>
