@model ExpedienteClinicoMSF.Models.Roles

@{
    ViewData["Title"] = "Modificar";
}

<h2>Modificar</h2>

<h4>Roles</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="RolId" />
            <div class="form-group">
                <label asp-for="Rol" class="control-label"></label>
                <input asp-for="Rol" class="form-control" />
                <span asp-validation-for="Rol" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DescripcionRol" class="control-label"></label>
                <input asp-for="DescripcionRol" class="form-control" />
                <span asp-validation-for="DescripcionRol" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RolesMenus" class="control-label"></label>
                <div class="col-md-offset-2 col-md-10">
                    <table>
                        <tr>
                            @{
                                int cnt = 0;
                                List<ExpedienteClinicoMSF.Models.ExpedienteViewModels.MenuRolData> opciones = ViewBag.Menus;

                                foreach (var opcion in opciones)
                                {
                                    if (cnt++ % 3 == 0)
                                    {
                                    @:</tr><tr>
                                    }
                                    @:<td>
                                        <input type="checkbox"
                                               name="selectedCourses"
                                               value="@opcion.MenuId"
                                               @(Html.Raw(opcion.Asignado ? "checked=\"checked\"" : "")) />
                                        @opcion.Opcion
                                    @:</td>
                                }
                            @:</tr>
                            }
                        </table>
                    </div>
                </div>
             <div class="form-group">
                 <input type="submit" value="Guardar" class="btn btn-default" />
             </div>
         </form>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
